.btn{
  color: white;
  padding: 0.8em 1em;
  font-size: 100%;
  font-weight: 400;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-10px);
  background-color: white;
  color: black;
}