/* MAIN - za sve stranice */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  float: left;
  margin-left: 12%;
  padding: 10px 0;
  width: 16%;
  height: 16%;
}

.medija1 {
  margin-right: 3%;
}

.medija {
  padding: 14px 4px;
  width: 2.5%;
  height: 2.5%;
  float: right;
  border-radius: 25%;
}

.container nav {
  float: left;
  margin-left: 25%;
}

.container nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;

  position: relative;
}


.container nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.container nav a::before {
  content: '';
  display: block;
  height: 8px;
  background-color: cyan;

  position: bottom;
  top: 0;
  width: 0%;

  transition: all ease-in-out 300ms;
}

.container nav a:hover::before {
  width: 100%;
}

.container nav a:hover {
  color: cyan;
}

.btn{
  color: white;
  padding: 0.8em 1em;
  font-size: 100%;
  font-weight: 400;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover{
  transform: translateY(-10px);
  background-color: white;
  color: black;
}

.container2 {
  width: 100%;
  height: 90dvh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  color: white;
  font-size: 140%;
}

.uvod {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.sekcije {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
  align-items: flex-start;
  background-color: rgb(239, 250, 255);
}

.srsekcija {
  width: 60%;
  text-align: center;
  padding-top: 50px;
  font-size: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/edoreko2.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.row1 {
  width: 18%;
  text-align: center;
  font-size: 25px;
  color: black;
  box-sizing: border-box;
  border: 6px solid rgb(27, 102, 117);
  box-shadow: 8px 8px 15px 0px black;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(27, 102, 117);
  color: white;
}

.slike {
  width: 50%;
  height: 40%;
  border-radius: 50%;
  vertical-align: middle;
  line-height: normal;
  border: 6px solid blue(27, 102, 117);
}

.ime {
  margin-left: 25px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-right: 15px;
}

@keyframes micanje {
  from {
    transform: translateY(-330px);
  }

  to {
    transform: translateY(0);
  }
}

.micanje {
  animation: micanje 1s ease-in;
}

/************************************************
                    PROIZVODI
************************************************/

.empty {
    height: 4em;
}

.nav-proizvodi {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 50, 100, 0.15);
}

.nav-proizvodi nav ul {
    list-style-type: none;
}

.nav-proizvodi nav ul li {
    display: inline-block;
    margin: 0 1em;
}

.nav-proizvodi nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-proizvodi nav ul li a:hover {
    cursor: pointer;
}

.nav-proizvodi nav ul li a::before {
    content: '';
    display: block;
    height: 8px;
    background-color: cyan;

    position: bottom;
    top: 0;
    width: 0%;

    transition: all ease-in-out 300ms;
}

.nav-proizvodi nav ul li a:hover::before {
    width: 100%;
}

.nav-proizvodi nav ul li a:hover {
    color: cyan;
}

.kategorija-proizvoda {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.kategorija-proizvoda span {
    background-color: rgba(0, 50, 100, 0.5);
    padding: 0.5em 1em;
    border-radius: 1em;
}

.proizvodi {
    max-width: 60em;
    padding: 0.5em 1em;
    margin: 2em auto;
    text-align: justify;
    background-image: url("/images/proizvodi/proizvod-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2em;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.main-proizvodi {
    display: flex;
    justify-content: inherit;
    width: 100%;
}

.ime-proizvoda {
    font-style: bold;
    font-size: x-large;
    text-align: center;
}

.slika-proizvoda {
    margin: 0 1em 1em 0;
    font-style: bold;
    font-size: larger;
    width: 11em;
    align-self: baseline;
}

.opis-proizvoda {
    width: 60%;
}